version: '3.8'
services:
  mongo:
    image: mongo
    container_name: banking-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: banking-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/banking-app
      - JWT_SECRET=secret
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: banking-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
